
.cart-item {
  width: 22vw;
  display: flex;
  height: 80px;
  margin-bottom: 15px;
  overflow-y: scroll;

  img {
    width: 30%;
  }

  .item-details {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 20px;

    .name {
      font-size: 16px;
    }
  }
}
