
.App{
  width: 100%;
}

body{
  font-family: 'Courier New', Courier, monospace;
}

a{
  text-decoration: none;
  color: black;
}

h1{
  font-family: serif;
  font-size: 3rem;
  color: #118686;
  text-align: center;
  text-transform: uppercase;
}