.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  // z-index: 999;
  // position: fixed;
  // background: #2c8f76;
  // opacity: 0.5;
  // margin-bottom: 1rem;
  // top: 1rem;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      text-transform: uppercase;
      // cursor:'pointer';
      cursor: pointer;
    }
  }
}
